config/n8n/workflows/scheduled-digest.json
{
  "name": "Scheduled Telemetry Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INFLUXDB_URL }}/api/v2/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.INFLUXDB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.flux"
            },
            {
              "name": "Accept",
              "value": "application/csv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=from(bucket: \"{{ $env.INFLUXDB_BUCKET }}\") |> range(start: -1h) |> mean() |> limit(n: 10)"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Query InfluxDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://p4n4-ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "=Summarize the following IoT telemetry data from the last hour in 2-3 sentences. Highlight any anomalies or notable trends:\n\n{{ $json.data }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "digest",
              "value": "={{ $json.response }}"
            },
            {
              "name": "generated_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "Format Digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Query InfluxDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query InfluxDB": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v0.1.0",
  "tags": [
    {"name": "p4n4"},
    {"name": "ollama"},
    {"name": "influxdb"},
    {"name": "scheduled"}
  ]
}
